* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

.header {
    background-color: tomato;
    text-align: center;
    padding: 40px 0;
}

.header h2 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 2rem;
}

p {
    color: #fff;  
    font-weight: bold; 
}

/* navbar design starts here */
.navbar {
    background-color: rgb(3, 68, 68);
    padding: 15px 0;
    text-align: center;
}

.navbar a {
    padding: 0 30px;
}


/* navbar design ends here */